body
{
    background-color: #B4D0E1;
}

a
{
    color:#0C4262;
    text-decoration:none;
}

ul.kat
{
    padding:0px;
    margin-left:20px;
}

.sayfa
{
    width:860px;
    margin:10px auto;
    background-color: #578FB1;
    border: 1px solid #578FB1;
}

    .sust
    {
        width:830px;
        padding:10px;
    }
    
    .sustresim
    {
        width:100%;
    }
    
    .sgiris
    {
        padding:10px;
        margin:10px;
        clear:both;
        text-align:center;
        background-color: #699EBD;
        border: 1px solid #699EBD;
    }
    
    .sanahat
    {
        width:150px;
        padding:10px;
        margin-top:5px;
        margin-left:5px;
        float:left;
        background-color: #699EBD;
        border: 1px solid #699EBD;
    }
    
    .sicerik
    {
        width:650px;
        padding:10px;
        margin-top:5px;
        margin-right:5px;
    	float:right;
        background-color: #699EBD;
        border: 1px solid #699EBD;
    }
    
    .salt
    {
        width:830px;
        padding:10px;
        clear:both;
        text-align:center;
    }

.yazi
{
    padding: 5px 10px 5px 5px;
}

.icerik
{
    width:640px;
    margin-bottom:20px;
    clear:both;
    float:right;
    padding: 5px;
}

    .ibolum
    {
        clear:both;
    }
    
    .iyazan
    {
        font-style:italic;
        float:right;
    }
    
    .iyorum
    {
        float:right;
        width:580px;
    }
    
.yorum
{
    padding: 5px;
    margin-bottom: 5px;
}
    
    .yyazan
    {
        font-style:italic;
    }

.yuvar
{
    border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

.sol
{
    float:left;
}

.sag
{
    float:right;
}

.r1 /*Arka plan rengi*/
{
    background-color: #B4D0E1;
    border: 1px solid #B4D0E1;
}

.r2 /*Sayfa arka rengi*/
{
    background-color: #578FB1;
    border: 1px solid #578FB1;
}

.r3 /*Sayfa öğe rengi*/
{
    background-color: #699EBD;
    border: 1px solid #699EBD;
}

.r4 /*Öğe çucuğu rengi*/
{
    background-color: #B4D0E1;
    border: 1px solid #B4D0E1;
}

.r5 /*Öğe torunu rengi*/
{
    background-color: #92B8CE;
    border: 1px solid #92B8CE;
}

.rbk /*Beyaz kenarlık*/
{
    border: 1px solid #FFFFFF;
}

.rba /*Beyaz arkaplan*/
{
    background-color: #FFFFFF;
}